{{ define "sidebar" }}
  <div class="span-4">
    <div id="sidebarLinks" class="sidebarLinks">
      <p class="sidebarLink"><a href="/" class="sidebar">Home</a></p>
      <hr />
      <p class="sidebarLinkSection"><span class="sidebarLinkSection">Products:</span></p>
      <p class="sidebarLinkIndent"><a class="sidebar" href="/products/products_dn/">DN Iceboat</a></p>
      <p class="sidebarLinkIndent"><a class="sidebar" href="/products/products_blokart/">blokart<sup class="reg">®</sup></a></p>
      <p class="sidebarLinkIndent"><a class="sidebar" href="/products/products_minisketer/">Mini-Skeeter<br />Iceboat</a></p>
      <p class="sidebarLinkIndent"><a class="sidebar" href="/products/products_cammounts/">Camera<br />Mounts</a></p>
      <hr />
      <p class="sidebarLinkSection"><span class="sidebarLinkSection">Parts:</span></p>
      <p class="sidebarLinkIndent"><a class="sidebar" href="/parts/parts_ratchets/">Ratchet Blocks</a></p>
      <p class="sidebarLinkIndent"><a class="sidebar" href="/parts/parts_viadana/">Viadana</a></p>
      <p class="sidebarLinkIndent"><a class="sidebar" href="/parts/parts_nautos/">Nautos</a></p>
      <hr />
      <p class="sidebarLink"><a href="/contact/" class="sidebar">Contact Us</a></p>
    </div>
  </div>
{{ end }}
