{{ define "main" }}
  <div class="parts">
    {{ if .Params.sections }}
      {{ range .Params.sections }}
        <div class="span-20 clear partsSubHeading">{{ .heading }}</div>
        <hr class="sectionSeparator" />
        
        {{ range .items }}
          {{ if eq .type "simple" }}
            <hr class="parts" />
            <div class="span-1 clear spacer">.</div>
            <div class="span-3 push-1 product" style="margin:0;">
              {{ if .image }}
                <img class="tn" src="{{ .image }}" width="{{ .imageWidth | default "100" }}" height="{{ .imageHeight | default "100" }}" alt="{{ .name }}" />
              {{ else }}
                <img class="tn" src="/products/placeholder.png" width="100" height="100" alt="Placeholder" />
              {{ end }}
            </div>
            <div class="span-14 product">
              {{ if .link }}
                <p>{{ .description | safeHTML }}<br />
                <a href="{{ .link }}">Click here for more information and photos.</a></p>
              {{ else }}
                <p>{{ .description | safeHTML }}</p>
              {{ end }}
            </div>
            <div class="span-2 right productPrice">
              {{ .price | safeHTML }}
            </div>
          {{ else if eq .type "descriptive" }}
            <hr class="parts" />
            <div class="span-20 parts">
              {{ .content | safeHTML }}
            </div>
          {{ end }}
        {{ end }}
      {{ end }}
    {{ else }}
      {{ .Content }}
    {{ end }}
  </div>
{{ end }}
